In [1]:
import pandas as pd
from alpha_vantage.timeseries import TimeSeries

class ScriptData:
    """Script Data class"""
    def __init__(self) -> None:
        self.ts_ob = TimeSeries("LNOYXG75DUBISWR7", output_format='pandas')
        self.data = dict()


    def fetch_intraday_data(self, symbol):
        self.data[symbol] = self.ts_ob.get_intraday(symbol=symbol, outputsize='full')

    def convert_intraday_data(self, symbol):
        if symbol in self.data:
            return self.data[symbol][0]
        else:
            return pd.DataFrame()

    def __contains__(self, symbol):
        return True if symbol in self.data else False

In [2]:
script_data = ScriptData()
script_data.fetch_intraday_data("AAPL")
script_data.convert_intraday_data("AAPL")

                      1. open   2. high    3. low  4. close  5. volume
date
2023-02-17 20:00:00  152.5600  152.6400  152.5500  152.6400     8075.0
2023-02-17 19:45:00  152.5600  152.6000  152.5500  152.5600     5131.0
2023-02-17 19:30:00  152.5500  152.5700  152.5500  152.5700     2655.0
2023-02-17 19:15:00  152.6200  152.6300  152.5500  152.5500     4504.0
2023-02-17 19:00:00  152.6200  152.6300  152.5600  152.6200     5858.0
...                       ...       ...       ...       ...        ...
2023-01-06 05:15:00  124.7700  124.8299  124.7300  124.8199     8590.0
2023-01-06 05:00:00  124.6501  124.7700  124.6501  124.7700    10513.0
2023-01-06 04:45:00  124.5403  124.6801  124.5403  124.6801     5035.0
2023-01-06 04:30:00  124.7101  124.7899  124.4505  124.6102    13874.0
2023-01-06 04:15:00  125.3291  125.3291  124.7200  124.7200    28318.0

[1920 rows x 5 columns]

In [4]:
"AAPL" in script_data
"GOOGL" in script_data

False